@tailwind base;
@tailwind components;
@tailwind utilities;

/* banner fonts  */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
/* body fonts  */
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
/* navicon fonts  */
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

/* navicon styles  */
.nav-title{
  font-family: 'Arizonia', cursive;
}

body {
  margin: 0;
  font-family: 'Amiri', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.banner-text{
  font-family: 'Josefin Sans', sans-serif;
}

.borders{
  border: 3px solid;
}
.borders:hover{
  border: 3px solid white;
}